

header{
	 background-image: linear-gradient(to bottom right, mediumaquamarine, lightseagreen, teal);
	 text-align: center;
	padding-top: 20px ;
	padding-bottom: 20px;

}

header h1{
	color: white;
	text-shadow: 4px 4px 8px #000000;
	font-family: 'Oswald', sans-serif;
	font-size: 40px;


}

header img{
	    width: 250px;
		border-radius: 100px
		text-shadow: 2px 2px 4px #000000;
		

}

h2{
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
}

p{ 
font-family: 'Noto Sans KR', sans-serif;
font-size: 25px; }


main{
max-width: 800px;
margin: 0 auto;

}	

	 
main img{ max-width: 100%; }

ol{font-size: 25px;
}

footer p{ background-image: linear-gradient(to bottom right, mediumaquamarine, lightseagreen, teal);
	 text-align: center;
	padding-top: 50px ;
	padding-bottom: 50px;


}